:root {
    --main-color:#efe6d7;
    --bg-color:#39bd5f;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 36pt;
    font-weight: 400;
    text-align: center;
    line-height: 4em;
    color: var(--main-color);
}

h2 {
    font-size: 48pt;
    text-align: center;
    color: var(--main-color);
}

a {
    font-size: 28pt;
    text-align: center;
    color: var(--main-color);
    text-decoration: none;
    display: block;
}

.yes {
    color: var(--main-color);
}

.no {
    color: var(--main-color);
}

.hidden {
    display: none;
}
  
.footer {
    position: fixed;
    font-weight: 400;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: var(--main-color);
    color: var(--bg-color);
    text-align: center;
  }

  