body {
    background-color: rgb(238, 231, 220);
}

h1 {
    font-size: 36pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: center;
    line-height: 4em;
    color: rgb(255, 225, 0);
}

h2 {
    font-size: 48pt;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: rgb(255, 225, 0);
}

.yes {
    color: rgb(255, 225, 0);
}

.no {
    color: rgb(255, 225, 0);
}

.hidden {
    display: none;
}
  
.footer {
    position: fixed;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: rgb(255, 225, 0);
    color: white;
    text-align: center;
  }

  